<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="visitorList" id="list187238"> 
            <div class="DynamicVoice"> 
                <a href="zxqmydyna!info.jsp?cid=187238"><div class="DynamicText">我给了你嗯给我姐隐身呢会没记录万佛湖微信很自由亲哈本子底裤我的加我的啊裤子你莫我以前是的本子贵重物品拉倒希腊嗯最橙子皮共轭阿里银发同情心4档一歌词里有哥啊咯何苦你不退大兔子和阿舅P民大金毛哥啊咯哥啊咯</div> </a> 
                <div class="DynamicVoiceInfo">
                    <span class="spaudio">
                        <img src="/web/imgv6/yuyin3.png" alt="" class="audioplays" /><img src="/web/imgv6/yuyin2_1.png" alt="" class="VoicePlay" data-cids="187238" />
                        <span class="VoiceTime">9s</span>
                    </span>
                    <span style="display:none;"><audio src="http://mediazxtom.zxtom.com/mydyna/audio/187238_3997795_1472781237162.mp3" id="media_187238" controls="controls"></audio></span>
                </div>
                <div class="newznt5 DynamicBotInfo">
                    <div><a href="javascript:;" class="dz_click" cid="187236"><p>点赞 2</p></a></div>
                    <div><a href="javascript:;" cid="187236" class="pl_click"><p>评论 0</p></a></div>
                    <div><a href="javascript:;" class="gz_click"><p>阅读 1</p></a></div>
                    <div><a href="javascript:;" cid="187236" class="sc_click"><p>删除</p></a></div>
                </div>
            </div>
        </div> 
        <div class="visitorList" id="list187236">
            <div class="DynamicVoice">
                <a href="zxqmydyna!info.jsp?cid=187236"><div class="DynamicText">呵呵</div></a>
                <div class="DynamicVoiceInfo">
                    <span class="spaudio">
                        <img src="/web/imgv6/yuyin3.png" alt="" class="audioplays" /><img src="/web/imgv6/yuyin2_1.png" alt="" class="VoicePlay" data-cids="187238" />
                        <span class="VoiceTime">2s</span>
                    </span>
                    <span style="display:none;"><audio src="http://mediazxtom.zxtom.com/mydyna/audio/187236_3997795_1472779373560.mp3" id="media_187236" controls="controls"></audio></span>
                </div>
                <div class="newznt5 DynamicBotInfo">
                    <div><a href="javascript:;" class="dz_click" cid="187236"><p>点赞 2</p></a></div>
                    <div><a href="javascript:;" cid="187236" class="pl_click"><p>评论 0</p></a></div>
                    <div><a href="javascript:;" class="gz_click"><p>阅读 1</p></a></div>
                    <div><a href="javascript:;" cid="187236" class="sc_click"><p>删除</p></a></div>
                </div>
            </div>
        </div>
    </body>
</html>
